<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>de</string>
	<key>CFBundleDisplayName</key>
	<string>ChromiumFlash</string>
	<key>CFBundleExecutable</key>
	<string>ChromiumFlash</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.chromium.ChromiumFlash</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ChromiumFlash</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.1</string>
	<key>CFBundleSignature</key>
	<string>CrFl</string>
	<key>CFBundleVersion</key>
	<string>0.0.1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2015, Jim Neuendorf</string>
</dict>
</plist>
